@{
    ViewData["Title"] = "NunesStorage";
}

<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <div>
            <a href="../Produtos/Index"><img src="~/img/lista.png" width="150" height="150" /></a>
        </div>
        <span>Lista de Produtos</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Produtos/Create"><img src="~/img/produtos.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Produtos</span>
    </div>
</div>